
<li.nav-item.cursor-pointer>
  <div.hover-toggle.py-50.d-flex.align-items-center>
    <div.font-medium-1.px-1.text-ellipsis.w-75>${input.name}</div>
    
    <Bx.hover-show.font-medium-2.px-50.float-right type="star"/>
    <Bx.hover-show.font-medium-5.px-75.float-right type="dots-vertical-rounded"/>
  </div>
</li>