
<li.position-relative.overflow-hidden>
  <div.position-relative.py-25.zindex-1.hover-toggle.d-flex.align-items-center.cursor-pointer.theme-bg>
    <!-- Request type -->
    <span.font-small-4.pr-4>
      <FileLabel type=input.name.split('.').pop()/>
    </span>
    <!-- Name -->
    <div.font-medium-1.text-ellipsis.w-75>${input.name}</div>
    
    <!-- Option Menu toggler -->
    <Bx.hover-show.font-medium-5.px-75.float-right type="dots-vertical-rounded"/>
  </div>
</li>