
<li.nav-item.cursor-pointer.w-100.round-sm>
  <route-link.d-block.w-100.px-2.py-25 href=input.link>
    <Row.d-flex.align-items-center>
      <@col><span.font-medium-2>${input.name}</span></@col>
      <@col.col-5.text-right><Members list=input.members/></@col>
    </Row>
  </route-link>
</li>