
import React from 'react'

style.scss {
  #uid {
    .counter {
      padding: 10px
    }
  }
}

class {
  onCreate(){
    this.state = {
      count: 0
    }
  }
  onIncrement(){ this.state.count++ }
}

<div.counter id="uid" on-click('onIncrement')></div>