
.code-editor {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 30;

  color: #84a1ff;
  
  // .mtk5 {
  //   color: #99c794 !important;
  // }
  // .mtk7 {
  //   color: #6ca5a2 !important;
  // }
  // .mtk7 {
  //   color: #6282c7 !important;
  // }

  // .JsxText,
  // .JsxSelfClosingElement,
  // .JsxClosingElement {
  //   color: #e0e0e0;
  // }

  // .tagName-of-JsxOpeningElement,
  // .tagName-of-JsxClosingElement,
  // .tagName-of-JsxSelfClosingElement {
  //   color: #ec5f67;
  // }

  // .name-of-JsxAttribute {
  //   color: #aa759f;
  // }

  // .name-of-PropertyAssignment {
  //   color: #99c794;
  // }

  // .typeName-of-TypeReference {
  //   color: #5faeec;
  // }

  // .name-of-PropertyAccessExpression {
  //   color: #83bdc9;
  // }
}