
<button.btn.round.border-2.theme-color.cursor-pointer.scale-up
        class=`btn-${input.type || 'lg'} ${input.class} ${input.primary ? 'theme-bg-primary white-text' : 'border'}`
        on-click( () => component.emit('click') )>
  <if( input.icon )>${input.renderBody( out )}</if>
  <else><Locale>${input.renderBody( out )}</Locale></else>
</button>