

<div.in-block.position-fixed.w-100.bottom-0.theme-bg-primary.d-flex.align-items-center style="height:1.8rem;z-index:300">
  <Row.no-gutters.w-100.d-flex.align-items-center>
    <!-- Targeted platform -->
    <@col.col-1.theme-bg.d-flex.align-items-center.px-0 style="height:1.8rem">
      <div.w-100.text-center>Multipple</div>
    </@col>

    <!-- Footer indicators and tools -->
    <@col><${input.renderBody}/></@col>
  </Row>
</div>