
<Switch by=input.type>
  <@case is="SUCCEED">
    <span.text-success style="font-size:inherit">SUCCEED</span>
  </@case>
  <@case is="STALLED">
    <span.text-warning style="font-size:inherit">STALLED</span>
  </@case>
  <@case is="FAILED">
    <span.text-danger style="font-size:inherit">FAILED</span>
  </@case>
</Switch>