

<div.in-block.position-fixed.w-100.bottom-0.theme-bg-primary.d-flex.align-items-center style="height:2rem;z-index:1001">
  <Row.no-gutters.w-100.d-flex.align-items-center>
    <!-- Targeted platform -->
    <@col.col-1.bg-black.d-flex.align-items-center.px-0 style="height:2rem">
      <div.w-100.text-center>${proName( window.instance || 'Cubic' )}</div>
    </@col>

    <!-- Footer indicators and tools -->
    <@col><${input.renderBody}/></@col>
  </Row>
</div>