
class { onCreate(){ GState.bind( this, ['locale'] ) } }

<span data-lang=( state.locale.language +( state.locale.variant ? '-'+ state.locale.variant : '' ) )
      class=input.class
      style="color:inherit;">${window.Locale( input.text || input.renderBody( out ) )}</span>
