
import Extension from 'extension'

$ {
  const 
  { name, core, ...rest } = input,
  plugin = core.getPlugin( name )
}

<if( name && plugin )>
  <${Extension} core=core
                ...plugin
                ...rest 
                on-forward( ( ...args ) => component.emit( ...args ) )/>
</if>
<else>
  <div.w-100.h-100.p-4.font-medium-5>
    "${name}" plugin <String value="not found"/>
  </div>
</else>