
<li>
  <div.hover-toggle.py-50.d-flex.align-items-center.cursor-pointer>
    <span.pl-3>-</span>
    <span.font-small-1.px-1>
      <RequestStatus type=input.type/>
    </span>
    <div.font-small-5.text-ellipsis.w-75>${input.name}</div>
    
    <Bx.hover-show.font-medium-5.px-75.float-right type="dots-vertical-rounded"/>
  </div>
</li>