
<div.in-block>
  <div.header.theme-bg-fade.p-50>
    <ul.list-inline.m-0>
      <li.px-1.cursor-pointer>Console</li>
      <li.px-1.cursor-pointer>Terminal</li>
      <li.px-1.cursor-pointer>Build</li>
      <li.px-1.cursor-pointer>Errors</li>

      <li.px-1.cursor-pointer.float-right>
        <Bx.font-medium-5 type="x" on-click( () => component.emit('dismiss') )/>
      </li>
    </ul>
  </div>
</div>